main
  section(data-column data-component="application")
    .modal(data-column)
      .modal-header
        button(data-action="previous" data-hidden=!this.previousAvailable)

        span Add #{store.appName} to your site
        button(data-action="close")

      .content

      .modal-footer
        button.primary.slim.more(style={"background-color": store.accent}) Next
