@import "~styl/colors"
@import "~styl/media-query-variables"

[data-component="application"]
  align-items center
  justify-content center
  max-height 100%
  min-height 100%

  .modal
    background #fff
    border-radius .3125em
    flex 1 1 auto
    overflow hidden
    width 35em

    .content
      flex 1 1 auto // Fill center unused space.

  .modal-header
    align-items center
    box-shadow 0 1px lightLineGrayRGBA
    flex 0 0 auto
    justify-content space-between
    width 100%

    button[data-action]
      appearance none
      background inherit
      border-radius 0
      color inherit
      cursor pointer
      display flex
      height 4em
      justify-content center
      width 4em

      &:hover
        background lightGray
        box-shadow none

      &:not(:hover)
        color subtleText

      > .icon
        flex 1 0 auto
        width 1em
        height 1em

  .modal-footer
    box-shadow 0 -1px lightLineGrayRGBA
    flex 0 0 auto
    justify-content flex-end
    padding 1.5em

@media desktopMinWidthQuery
  [data-component="application"] .modal
    margin 1.5em 0
