@import colors
@import code-colors

pre.cm-s-default, code[class*="lang-"]

  > span
    color #f6f7ee

  .cm-string, .hljs-string
    color #e6db74

  .cm-comment, .hljs-comment
    color codeLightPink

  .cm-atom, .hljs-atom, .cm-number, .hljs-number
    color #a6e22e

  &.lang-css

    .cm-builtin, .hljs-builtin
      color #a6e22e

    .cm-property, .hljs-property
      color codePurple

    .cm-tag, .hljs-tag
      color codeTeal

    .cm-qualifier, .hljs-qualifier
      color codeRed

    .cm-def, .hljs-def
      color codePink

    .cm-keyword, .hljs-keyword
      color #f92672

    &.lang-stylus

      .cm-qualifier, .hljs-qualifier
        color codeTeal

      .cm-tag, .hljs-tag
        color #f92672

  &.lang-html

    .cm-tag, .hljs-tag
      color #f92672

    .cm-attribute, .hljs-attribute, .hljs-attr
      color #a6e22e

    .cm-string, .hljs-string
      color #e6db74

  &.lang-coffeescript

    .cm-tag, .hljs-tag
      color #f92672

    .cm-attribute, .hljs-attribute
      color #a6e22e

    .cm-string, .hljs-string-2
      color codeTeal

    .cm-keyword, .hljs-keyword
      color #f92672

    .cm-operator, .hljs-operator
      color codeRed

    .cm-variable:first-child + .cm-variable, :not(.cm-variable) + .cm-variable + .cm-variable,
    .hljs-variable:first-child + .hljs-variable, :not(.hljs-variable) + .hljs-variable + .hljs-variable
      color #a6e22e

  &.lang-javascript

    .cm-keyword, .hljs-keyword
      color #f92672

    .cm-def, .hljs-def
      color #a6e22e

    .cm-variable-2, .hljs-variable-2
      color codeTeal

  &.lang-go

    .cm-keyword, .hljs-keyword
      color #f92672
