@import colors
@import code-colors

code[class*="lang-"]

  > span
    color codeWhite

  .hljs-string
    color codeGold

  .hljs-comment
    color codeGray

  .hljs-atom, .hljs-number
    color codeGreen

  &.lang-css

    .hljs-selector-tag, .hljs-meta
      color codeRed

    .hljs-attribute
      color codeBlue

    .hljs-builtin, .hljs-selector-class, .hljs-selector-pseudo, .hljs-selector-attr, .hljs-selector-id
      color codeGreen

    .hljs-built_in
      color codeBlue

    .hljs-property, .hljs-number
      color codePurple

    .hljs-tag
      color codeGreen

    .hljs-qualifier, .hljs-def, .hljs-keyword
      color codeRed

    &.lang-stylus

      .hljs-qualifier
        color codeGreen

      .hljs-tag
        color codeRed

  &.lang-html

    .hljs-tag .hljs-name
      color codeRed

    .hljs-attribute, .hljs-attr
      color codeGreen

    .hljs-string
      color codeGold

    .css

      .hljs-selector-tag
        color codeRed

      .hljs-attribute
        color codeBlue

  &.lang-javascript

    .hljs-literal
      color codePurple

    .hljs-subst
      color codeWhite

    .hljs-keyword
      color codeRed

    .hljs-def, .hljs-variable-2
      color codeGreen
