@import colors
@import code-colors

pre.cm-s-default, code[class*="lang-"]

  > span
    color inherit

  .cm-string, .hljs-string
    color darkGray

  .cm-comment, .hljs-comment
    color codeLightPink

  .cm-atom, .hljs-atom, .cm-number, .hljs-number
    color codeBlue

  &.lang-css

    .cm-builtin, .hljs-builtin
      color codeBlue

    .cm-property, .hljs-property
      color codePurple

    .cm-tag, .hljs-tag
      color codeTeal

    .cm-qualifier, .hljs-qualifier
      color codeRed

    .cm-def, .hljs-def
      color codePink

    .cm-keyword, .hljs-keyword
      color codeGold

    &.lang-stylus

      .cm-qualifier, .hljs-qualifier
        color codeTeal

      .cm-tag, .hljs-tag
        color codePurple

  &.lang-html

    .cm-tag, .hljs-tag
      color codePurple

    .cm-attribute, .hljs-attribute
      color codeBlue

    .cm-string, .hljs-string
      color codePink

  &.lang-coffeescript

    .cm-tag, .hljs-tag
      color codePurple

    .cm-attribute, .hljs-attribute
      color codeBlue

    .cm-string, .hljs-string-2
      color codeTeal

    .cm-keyword, .hljs-keyword
      color codePink

    .cm-operator, .hljs-operator
      color codeRed

    .cm-variable:first-child + .cm-variable, :not(.cm-variable) + .cm-variable + .cm-variable,
    .hljs-variable:first-child + .hljs-variable, :not(.hljs-variable) + .hljs-variable + .hljs-variable
      color codeBlue

  &.lang-javascript

    .cm-keyword, .hljs-keyword
      color codePurple

    .cm-def, .hljs-def
      color codeBlue

    .cm-variable-2, .hljs-variable-2
      color codeTeal

  &.lang-go

    .cm-keyword, .hljs-keyword
      color codePurple
