selectionColor = #b4d5fe

brandPink = #e90f92
brandPinkDarkened = darken(brandPink, 18%)

subtlePink = #fcf5fd

logoPurple = brandPinkDarkened
logoBlue = #3b1cce

backgroundGray = #eee
gray = #e0e0e0
darkGray = #707070
darkerGray = #404040
darkestGray = #202020
darkerestGray = #131313
lightGray = #f3f3f3
lightGrayRGBA = rgba(#000, .045)
lighterGray = #fafafa
lightLineGray = #cacaca
lightLineGrayRGBA = rgba(#000, .21)
lighterLineGray = gray
lighterLineGrayRGBA = rgba(#000, .125)
lightestLineGrayRGBA = rgba(#000, .0625)
subtleText = #888
subtleTextRGBA = rgba(#000, .43)

successBackgroundColor = #bbf0c7
successColor = #278541

infoBackgroundColor = #ddedff
infoColor = #303786

warnBackgroundColor = #fff5d6
warnColor = #713b1b

hintBackgroundColor = #fee928
hintColor = #5c2400

errorRed = #c62838

primaryButtonColor = logoPurple
primaryButtonColorDarkened = darken(primaryButtonColor, 18%)
secondaryButtonColor = #466ebe
secondaryButtonColorDarkened = darken(secondaryButtonColor, 18%)
tertiaryButtonColor = #767c88
tertiaryButtonColorDarkened = darken(tertiaryButtonColor, 18%)

creditCardBackgroundColor = #d4d2d8
creditCardBackgroundColorLight = lighten(creditCardBackgroundColor, 50%)
creditCardSubtleText = #696676
creditCardLighterLineGray = #b6afb2
creditCardLightLineGray = #9c97ae
creditCardPrimaryButtonColor = #584c6f

blogTextColor = #333332

// Third party colors

facebookBlue = #3b5998
linkedInBlue = #0077b5
twitterBlue = #55acee
