selectionColor = #b4d5fe

gray = #e0e0e0
lightGrayRGBA = rgba(#000, .045)
lightLineGrayRGBA = rgba(#000, .21)
lighterLineGrayRGBA = rgba(#000, .125)
lightestLineGrayRGBA = rgba(#000, .0625)

subtleTextRGBA = rgba(#000, .43)

warnBackgroundColor = #fff5d6
warnColor = #713b1b

errorRed = #c62838
