selectionColor = #b4d5fe

darkGray = #2b2b2b
gray = #e0e0e0
lightGray = #ccc
lightGrayRGBA = rgba(#000, .045)
lightLineGrayRGBA = rgba(#000, .21)

warnBackgroundColor = #fff5d6
warnColor = #713b1b

brandBlue = #2d88f3
brandYellow = #e6db74

errorRed = #c62838
lightRed = hsl(0,100%,72%)

lightGreen = hsl(100,100%,88%)
