antialiasedFonts()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

subpixelAntialiasedFonts()
  -webkit-font-smoothing subpixel-antialiased
  -moz-osx-font-smoothing auto

slightlyDarkerAntialiasedFonts()
  subpixelAntialiasedFonts()
  opacity .9999
