@import colors
@import media-query-variables

textShadowToCropUnderline(color)
  text-shadow .03em 0 color, -.03em 0 color, 0 .03em color, 0 -.03em color, .06em 0 color, -.06em 0 color, .09em 0 color, -.09em 0 color, .12em 0 color, -.12em 0 color, .15em 0 color, -.15em 0 color

linkUnderlines(backgroundColor, color, lineTop = 87%)
  color color
  text-decoration none
  background-image linear-gradient(backgroundColor, backgroundColor), linear-gradient(backgroundColor, backgroundColor), linear-gradient(color, color)
  background-size .1em 1px, .1em 1px, 1px 1px
  background-repeat no-repeat, no-repeat, repeat-x
  textShadowToCropUnderline backgroundColor
  background-position 0% lineTop, 100% lineTop, 0% lineTop

  @media retinaQuery
    background-image linear-gradient(transparent 50%, backgroundColor, backgroundColor), linear-gradient(transparent 50%, backgroundColor, backgroundColor), linear-gradient(transparent 50%, color, color)
    background-size .075em 1px, .075em 1px, 1px 1px
    background-position 0% (lineTop - 2%), 100% (lineTop - 2%), 0% (lineTop - 2%)

  &::selection
    text-shadow none
    background selectionColor

  &::before, &::after, *, *::before, *::after
    text-shadow none

  &:visited
    color color
