@import nib

@import colors
@import fonts
@import "font-smoothing"
@import media-query-variables

.ribbon
  position relative
  margin-top 1em
  margin-bottom 1em

  .text
    antialiasedFonts()
    font-family serifFonts
    text-align center
    font-size 1.2em
    letter-spacing .1em
    word-spacing .3em
    text-indent -@word-spacing + @letter-spacing
    text-transform uppercase

  @media mobileMaxWidthQuery
    display none

  @media desktopMinWidthQuery
    height 3em
    margin-left 5em
    margin-right 5em
    color #7f92b9
    box-shadow inset 0 0 0 999em rgba(#fff, .1), inset 0 0 0 999em

    .text
      position absolute
      color #fff
      left 0
      right 0
      top 0
      bottom 0
      margin auto
      height 1em
      line-height 1em
      white-space nowrap
      overflow ellipsis

    .left-side, .right-side
      color inherit

      &:before, &:after
        content " "
        position absolute
        z-index -1
        border-style solid
        border-color inherit
        width 0
        height 0

      &:before
        width 5em
        border-width 1.5em
        top 1.5em

      &:after
        top 100%
        border-width .75em

    .left-side:before
      left -3.5em
      border-left-color transparent

    .right-side:before
      right -3.5em
      border-right-color transparent

    .left-side:after
      left 0
      border-color rgba(#000, .25) rgba(#000, .25) transparent transparent

    .right-side:after
      right 0
      border-color rgba(#000, .25) transparent transparent rgba(#000, .25)

  + .ribbon-copy-below
    text-align center
