topBarHeight = 4.5em

centeredPageWidth = 50em
centeredPageLargerWidth = 68em

appNavigationWidth = 16em

dialogWidth = 38em
dialogSlimWidth = 31em

standardInputRadius = .1875em

froalaPopupWidthDesktop = 19em
froalaPopupWidthMobile = 14em
