.screenshot
  .menu
    .item Content
    .item Structure
    .item Appearance
    .item People
    .item.focal-point.relative-arrow(data-arrow="left") Extend
    .item Configuration
    .item People

  .content
    h1 Administration
