.screenshot
  h2 Modules

  .modal(data-column)
    .nav
      .item
        a(href="#-") Home
      .item
        a(href="#-") Administration

    .instructions(data-column)
      p
        .arrow
          .relative(style={height: "83px", width: "60px", bottom: "70px", right: "-110px"})!= arrowBottomLeft
        a.install(href="#-") Install new module

      .modules(data-column)
        header Core
