.screenshot
  .menu
    .item Dashboard
    .item Content
    .item Structure
    .item Appearance
    .item People
    .item.focal-point.relative-arrow(data-arrow="left") Modules
    .item Configuration

  .menu.sub
    .item Add content
    .item Find content

  .content
    h1 Administration
