ol.steps
  if this.pluginURL
    li
      != this.renderDownloadLink()
      p After downloading, don’t unzip the file.

    li
      h2 Login to your Drupal Administrator Dashboard and click “Extend”

      figure(data-ref="screenshotMounts[]" data-screenshot="navigateToModules")

    li
      h2 Click “Install new module”

      figure(data-ref="screenshotMounts[]" data-screenshot="installNewModules")

    li
      h2 Upload the module
      p Click “Choose File” and select the module you downloaded to your computer.

      figure(data-ref="screenshotMounts[]" data-screenshot="uploadModule")

    li
      h2 Activate the module

      p You should see the new module on the “Extend” page.
      p The module will appear in category set by the author.
      p Click the checkbox next to the module, then click “Save Configuration”

      figure(data-ref="screenshotMounts[]" data-screenshot="activateModule")

      p You’re done!

  else
    li
      h2 In your Drupal site’s Admin interface, click the <strong>Structure <span class="with-more-icon-after"></span> Block layout <span class="with-more-icon-after"></span> Add custom block</strong> link in the navigation menu at the top of the page.

    li
      h2 Fill out the form.

      p As the “Block Description” enter “#{ config.name } Embed”

      p <strong>Before pasting the embed code</strong> as the “Text Format” select “Full HTML”

      p In the “Body” field click the “Source” button inside the editor
      p Paste this embed code:

      .copy-container
        button.primary.run(data-ref="copyButtons[]") Copy
        div.copyable(contenteditable)= this.copyText

      p Click “Save”.

      p On the new page that opens, For the “Region” select “Footer first”

    li
      h2 Click “Save block”, you’re done!
