ol.steps
  li
    != this.renderDownloadLink()
    p After downloading, don’t unzip the file.

  li
    h2 Login to your Drupal Administrator Dashboard and click “Extend”

    figure(data-ref="screenshotMounts[]" data-screenshot="navigateToModules")

  li
    h2 Click “Install new module”

    figure(data-ref="screenshotMounts[]" data-screenshot="installNewModules")

  li
    h2 Upload the module
    p Click “Choose File” and select the module you downloaded to your computer.

    figure(data-ref="screenshotMounts[]" data-screenshot="uploadModule")

  li
    h2 Activate the module

    p You should see the new module on the “Extend” page.
    p The module will appear in category set by the author.
    p Click the checkbox next to the module, then click “Save Configuration”

    figure(data-ref="screenshotMounts[]" data-screenshot="activateModule")

    p You’re done!
