.screenshot
  .menu
    .item Dashboard
    .item Content
    .item Structure
    .item Appearance
    .item People
    .item.focal-point Modules
      .arrow
        .relative(style={"font-size": "7em", top: "14px", right: "14px"})
          != arrowTopLeft
    .item Configuration

  .menu.sub
    .item Add content
    .item Find content

  .content
    h1 Administration
