section(data-column data-component="site-type-search" data-event-receiver)
  .header
    input.search(
      autofocus
      data-ref="search"
      placeholder="Select or search the type of website you have."
      type="text")

  .types(data-column data-ref="typesContainer")

