section(data-column data-component="site-type-search" data-event-receiver)
  header.header
    input.search(
      autofocus
      data-ref="search"
      placeholder=config.labels.searchPlaceholder
      type="text")

  .types(data-column data-ref="typesContainer")

  footer.modal-footer
    button.primary.slim.more(data-action="next" data-ref="nextPageButton")
      | #{config.labels.next}

