section(data-column data-component="site-type-search" data-event-receiver)
  .header
    input.search(
      autofocus
      data-ref="search"
      placeholder=store.labels.searchPlaceholder
      type="text")

  .types(data-column data-ref="typesContainer")

