@import "~styl/colors"

[data-component="site-type-search"]
  .header
    align-items center
    box-shadow 0 1px lightLineGrayRGBA
    flex 0 0 auto
    width 100%
    z-index 2 // Fix box-shadow translucent stacking artifacts

    .icon
      stroke subtleText
      width 1em
      margin-left 1.5em

    .search
      background transparent
      border none
      flex 1 0 auto
      padding 1.5em

      &:focus
        outline none

  .types
    overflow-y scroll
    z-index 1 // Fix box-shadow translucent stacking artifacts

    .type
      position relative
      cursor pointer
      align-items center
      flex 0 0 auto
      padding 1em
      overflow ellipsis

      &:not(:first-child)
        margin-top -1px

      &:not(:last-child):not(:hover)
        box-shadow inset 0 -1px lighterLineGray

      &:not([data-selected])
        z-index 1
        background transparent
        color inherit

        &:hover
          z-index 1
          box-shadow none
          background lightGray

        &:first-child:hover
          box-shadow inset 0 -1px lighterLineGrayRGBA

        &:last-child:hover
          box-shadow inset 0 1px lighterLineGrayRGBA

        &:not(:first-child):not(:last-child):hover
          box-shadow inset 0 -1px lighterLineGrayRGBA, inset 0 1px lighterLineGrayRGBA

      &[data-selected]

        &, &:hover
          z-index 2
          color #fff
          box-shadow none !important

      .icon
        fill currentColor
        height 2em
        margin-right 1em
        width 2em
