section(data-column data-component="site-type-search" data-event-receiver)
  header.header
    input.search(
      autofocus
      data-ref="search"
      placeholder=label("searchPlaceholder")
      tabindex="3"
      type="text")

  .types(data-column data-ref="typesContainer")

  footer.modal-footer
    button.primary.slim.more(data-action="next" data-ref="nextButton" tabindex="5")
      = label("next")

