section(data-column, data-component="site-type-search").content
  .header
    input.search(
      autofocus
      placeholder="Select or search the type of website you have."
      type="text")

  .types(data-column)

