@import "~styl/colors"

[data-component="site-type-search"]
  .header
    box-shadow 0 1px lightLineGray
    flex 0 0 auto
    width 100%
    z-index 2 // Fix box-shadow translucent stacking artifacts

    .search
      background transparent
      border none
      flex 1 0 auto
      padding 1.5em

      &:focus
        outline none

  .types
    overflow-y scroll
    z-index 1 // Fix box-shadow translucent stacking artifacts

    .type
      align-items center
      flex 0 0 auto
      padding 1em

      &:not([data-selected])
        background transparent
        color inherit

        &:hover
          filter contrast(90%)

          & + .type
            box-shadow inset 0 1px lighterLineGrayRGBA

      & + .type:not([data-selected])
        box-shadow inset 0 1px lighterLineGray

      .icon
        width 2em
        margin-right 1em
