body
  width 500px
  height 300px
  background #333
  font-family serif
  color white
  padding 0 1em

a
  text-decoration none

p
  margin .5em 0

button
  background-color #ededed
  border none
  border-radius 1em
  font-family sans-serif
  line-height 2
  padding 0 .8em

h2
  color #ebe3c5
  font-weight normal
  margin .4em 0

input[type="file"]
  width 14em

.modal
  background white
  color black
  padding 1.5em 2em

.nav
  align-items center
  margin-bottom 1em

  .item
    & + .item::before
      margin 0 .4em
      display inline-block
      content "»"

