section(data-column data-component="page-wrapper")
  .page-mount(data-ref="pageMount")

  footer.modal-footer
    button.primary.slim(data-action="close" data-ref="doneButton")
      | #{config.labels.done}
