section(data-column data-component="page-wrapper")
  .page-mount(data-ref="pageMount", tabindex="3")

  footer.modal-footer
    button.primary.slim(data-action="close" data-ref="doneButton" tabindex="5")
      | #{config.labels.done}
