button
  background-color #ededed
  border none
  border-radius 1em
  line-height 2
  padding 0 .8em

.menu
  align-items center
  flex-flow row wrap
  background black
  color white
  padding .5em

  &.sub
    background-color #666

  .item
    line-height 1.5
    padding 0 .8em

    &.selected
      background-color #999
      border-radius .8em
      text-shadow 0 1px 0 #000

.modules-list
  border 1px #ccc solid
  margin 1em 1em
  padding 1em

  .entries
    border 1px #ccc solid
    width 100%

    th
      background-color #eee
      border 1px solid #ccc
      padding .2em 1em
    th:last-of-type
      width 100%

    td
      text-align center

footer
  padding 1em
