@import "../shared"

@import "../styl/code-syntax-highlighting"
@import "../styl/colors"
@import "../styl/fonts"
@import "../styl/font-smoothing"
@import "../styl/media-query-variables"
@import "../styl/link-underlines"
@import "../styl/inline-svg"

embedBoxDesktopMinWidth = 1080px
embedBoxExtraLargeDesktopMinWidth = 1800px
embedBoxDesktopMinWidthQuery = "(min-width: " + embedBoxDesktopMinWidth + ")"
embedBoxExtraLargeDesktopMinWidthQuery = "(min-width: " + embedBoxExtraLargeDesktopMinWidth + ")"
embedBoxMobileMaxWidthQuery = "(max-width: " + (embedBoxDesktopMinWidth - 1px) + ")"

siteDocsBackgroundColor = #1e1e1e
siteDocsColor = #e2e2de
siteDocsLinkColor = #e6db74

siteDocsTopBuffer = 3rem

html
  background siteDocsBackgroundColor

.slide.no-js-info
  background warnBackgroundColor
  color warnColor
  display flex

.slide
  align-items center
  flex-flow column nowrap
  justify-content center
  padding-top 8em
  padding-bottom @padding-top
  position relative
  line-height 1.5
  background #fff

  @media mobileMaxWidthQuery
    padding-top 4em
    padding-bottom @padding-top

  &.full
    min-height 100vh

  &.padded
    padding-left 3em
    padding-right @padding-left

    @media mobileMaxWidthQuery
      padding-left 2em
      padding-right @padding-left

    @media iPhoneMaxWidthQuery
      padding-left 1.5em
      padding-right @padding-left

  a.more
    font-weight 500
    padding .5em 0
    text-decoration none
    color brandBlue
    letter-spacing normal

    &:hover
      color darken(brandBlue, 18%)

  a.twitter-share
    font-size .85em
    font-weight 500
    padding .5em .85em
    border-radius .1875em
    color #fff
    background brandBlue
    text-decoration none
    letter-spacing normal

    &:hover
      color #fff
      background darken(brandBlue, 18%)

    svg
      fill currentColor
      display inline-block
      height 1em
      width 1em
      vertical-align middle
      margin 0 .5em 0 .125em
      position relative
      top -.15em

  p, ul, ol, dl
    font-size 1.125em

    ul, ol, dl
      font-size 1em

    @media mobileMaxWidthQuery
      font-size 1em

  .headline-with-anchor
    display block

    > a
      outline none
      color currentColor
      display inline-block
      position relative
      text-decoration none

      &::before
        content "#"
        position absolute
        display inline-block
        right 100%
        padding-right .2em
        opacity .1
        transition opacity .1s ease-in-out

      &:hover:before
        opacity .8

    & > a
      // puts space above anchor when navigating by hash to it
      position relative
      margin-top -1 * siteDocsTopBuffer
      padding-top siteDocsTopBuffer
      z-index 3

    // prevent secondary headers from covering up those above it
    + .headline-with-anchor > a
      z-index 2

    + .headline-with-anchor + .headline-with-anchor  > a
      z-index 1

  .figure.frame-container
    position relative
    z-index 1

    .placeholder, .barrier
      position absolute
      top 0
      right 0
      bottom 0
      left 0

    .placeholder
      align-items center
      justify-content center
      opacity .6
      z-index -1

      .loading-dots
        margin -.5em 0 0 -1.5em

    .barrier
      background rgba(#000, .75)
      color #fff
      cursor pointer
      transition opacity .15s ease
      opacity 0
      z-index 5

      &::after
        content "Click to interact with the demo."
        position absolute
        font-size 1.5em
        top 0
        right 0
        bottom 1.5em
        left 0
        height 1.5em
        line-height 1.5em
        margin auto
        text-align center

      &:hover
        opacity 1

    iframe
      border 0
      margin 0
      height 100%
      width 100%

  table
    margin 1em 0
    text-align left
    width 100%

    code
      background none !important
      margin 0 !important
      padding 0 !important

    th.id
      width 20%

    tbody tr:nth-child(odd)
      background-color rgba(#fff, .05)

.slide.share-slide
  padding-top 0

  .share
    display block
    width 15em
    white-space nowrap
    text-align center
    max-width 100%

    .share-title
      display block
      font-size .9em
      text-transform uppercase
      letter-spacing .1em
      text-indent .1em

    .share-icons
      display block
      font-size 0

    a.share-icon
      display inline-block
      font-size 1rem
      width 4em
      height 4em
      padding 1em
      color currentColor

      &:hover svg
        fill currentColor

.slide.hero
  flex-flow row wrap
  position relative
  padding-bottom 0
  padding-top 0
  z-index 1

  // Fix small browser render gap glitch
  @media mobileMaxWidthQuery
    + .slide
      margin-top -1px

  @media embedBoxMobileMaxWidthQuery
    display block

  > header
    align-items center
    flex 1 0 100%
    margin 2em 0

    > h1
      font-weight 900
      margin 0

      > a
        text-decoration none
        color inherit

  .figure
    border-radius .5em
    width 32em
    max-width 100%
    position relative
    overflow hidden

    &::after
      border 1px solid lightLineGrayRGBA
      border-radius .5em
      bottom 0
      content ""
      display block
      left 0
      pointer-events none
      position absolute
      right 0
      top 0

    @media embedBoxMobileMaxWidthQuery
      display block
      height calc(100vh - 10em)
      max-height 31em
      margin 0 auto
      min-height 25em

    @media embedBoxDesktopMinWidthQuery
      flex 0 1 auto
      height 29em
      margin 0 0 0 4em

    @media largeDesktopMinWidthQuery
      margin-right -2em
      height 32em

  .content
    width 26em
    max-width 100%

    @media embedBoxMobileMaxWidthQuery
      display block
      margin 0 auto 2em
      text-align center

    @media iPhoneMaxWidthQuery
      text-align left

    @media embedBoxDesktopMinWidthQuery
      flex 0 1 auto

  h2.headline
    font-weight 400
    font-size 1.5em
    line-height 1.3
    margin 0 0 .6em

    @media embedBoxDesktopMinWidthQuery
      font-size 1.9em

    @media iPhoneMaxWidthQuery
      font-size 1.7em

  p
    color darken(gray, 55%)
    display block
    width 100%
    margin 0 auto 1em

  ul.nav
    display block
    list-style none
    font-size 1.3em
    width 100%
    margin 0
    padding 0

    li
      display block
      list-style none
      margin 0 0 .5em

      &.space-above
        padding-top .5em

      @media embedBoxMobileMaxWidthQuery
        display inline-block

        &:not(:last-child)
          margin-right 2em

      @media iPhoneMaxWidthQuery
        display block
        margin-right 0

.slide.features
  div
    display block

  ul.features-list
    antialiasedFonts()
    font-family sansSerifFonts
    list-style none
    margin 0
    max-width 100%
    padding 0
    font-size 1em
    width centeredPageWidth

    > li
      align-items center
      justify-content space-between
      display flex
      position relative

      &:not(:last-child)
        margin-bottom 4em

      .content
        flex 0 1 auto

        h3
          font-size 1.17em

        p
          color #808080
          letter-spacing .0125em

          &:last-child
            margin-bottom 0

      .image
        display block
        flex 0 1 auto

        img
          max-width 100%

          @media (min-width 2000px)
            max-width 2000px

      @media desktopMinWidthQuery
        &:not(:last-child)
          margin-bottom 8em

        .content, .image
          width 44%

        .content
          h3
            margin-top 0
            font-size 1.7em
            margin-bottom .5em
            font-weight 600

          p
            font-size 1.125em
            margin 0 0 .7em

        &:nth-child(even)
          flex-direction row-reverse

          .image
            direction rtl

      @media mobileMaxWidthQuery
        flex-flow column

        &:not(:last-child)
          margin-bottom 4em

          &::before
            background lighterLineGrayRGBA
            content ""
            display block
            height .0625em
            margin-top 2em
            pointer-events none
            position absolute
            top 100%
            width 100%

        .content, .image
          width auto

        .content
          margin-bottom 2em

.slide.docs
  gutterWidth = 3em
  navWidth = 10em
  demoWidth = calc(2em + 30vw)
  demoPlusGutterWidth = calc(2em + 30vw + 3em)
  largeDemoWidth = 34em

  antialiasedFonts()
  background siteDocsBackgroundColor
  color siteDocsColor
  display flex
  max-width 100%
  padding-top 5em
  position relative

  h5
    font-family monospaceFonts
    margin-bottom 0

    & + p
      margin-top .5em

  .wrapper
    display flex
    flex 1 0 auto
    position relative
    width 86em
    max-width 100%
    padding 0 demoPlusGutterWidth 0 (gutterWidth + navWidth)

    @media embedBoxExtraLargeDesktopMinWidthQuery
      padding-right largeDemoWidth + gutterWidth

    @media embedBoxMobileMaxWidthQuery
      flex-flow column
      padding-left 0
      padding-right 0

  .demo-wrapper
    display block

    @media embedBoxDesktopMinWidthQuery
      bottom 0
      right 0
      position absolute
      top 0
      width demoWidth

      @media embedBoxExtraLargeDesktopMinWidthQuery
        width largeDemoWidth

      .sticky
        display block
        padding-top siteDocsTopBuffer
        position sticky
        top 0

  .figure.embedbox-figure
    display block
    overflow hidden

    iframe
      width 100%
      height 32em
      max-height 100%

    @media embedBoxDesktopMinWidthQuery
      height 32em
      max-height 90vh
      min-height 20em

      iframe
        width 100%
        height 100%

    @media embedBoxMobileMaxWidthQuery
      display none

  .docs-nav, .docs-content
    @media embedBoxMobileMaxWidthQuery
      width 40em
      margin 0 auto
      max-width 100%

  .docs-nav
    display block

    @media embedBoxDesktopMinWidthQuery
      bottom 0
      left 0
      position absolute
      top 0
      width navWidth

      .sticky
        display block
        padding-top siteDocsTopBuffer
        position sticky
        top 0

    @media embedBoxMobileMaxWidthQuery
      padding-top 0

    h1
      margin-top 0
      font-size 1.5em

      @media embedBoxDesktopMinWidthQuery
        font-size 1.6em

    ul.table-of-contents
      display block
      color siteDocsLinkColor
      margin 0
      list-style none

      @media embedBoxMobileMaxWidthQuery
        margin-bottom 2em

      @media embedBoxDesktopMinWidthQuery
        padding-left 0

        ul
          padding-left 1.5em
          list-style none

      ul
        margin-top 0
        margin-bottom 0

        > li
          line-height 1.65

      > li
        margin-bottom .75em

      a
        linkUnderlines siteDocsBackgroundColor, siteDocsLinkColor
        overflow ellipsis

        &:not(:hover)
          background-image none
          text-shadow none
          white-space nowrap

  .docs-content
    display block
    flex 1 1 auto
    position relative

    @media embedBoxDesktopMinWidthQuery
      padding-top siteDocsTopBuffer
      width 100%

    > *:first-child
      margin-top 0

    > *:last-child
      margin-bottom 0

    pre, code
      font-family monospaceFonts

    *:not(pre) > code
      background #2b2b2b
      color lighten(siteDocsColor, 30%)
      font-size .72em
      margin 0 .125em
      padding .1875em .35em .125em
      white-space nowrap

    h2
      margin-top 4.5rem
      font-size 1.5em

      @media embedBoxDesktopMinWidthQuery
        font-size 1.6em

      @media mobileMaxWidthQuery
        margin-top 3.5rem

      @media iPhoneMaxWidthQuery
        margin-top 2.5rem

    h3
      @media embedBoxDesktopMinWidthQuery
        font-size 1.125em

    *:not(h2) + h3, *:not(h3) + h4, *:not(h3):not(h4) + h5
      margin-top 3.5rem
      margin-bottom 0

      @media mobileMaxWidthQuery
        margin-top 2.5rem

    a[href]:not(.without-underline)
      linkUnderlines siteDocsBackgroundColor, siteDocsLinkColor

    a[href] > code
      color siteDocsLinkColor

    *:not(.headline-with-anchor) > a.without-underline
      color siteDocsLinkColor
      text-decoration none

    blockquote
      background-color rgba(brandYellow, .1)
      border-left 2px solid brandYellow
      color brandYellow
      font-size .9em
      margin 0
      padding 1em 1.5em

      &::before
        content "ProTip"
        display block
        margin-bottom .6em
        font-size .7em
        text-transform uppercase
        letter-spacing .08em
        opacity .6

      > *:first-child
        margin-top 0

      > *:last-child
        margin-bottom 0

      > p > code
        color inherit

.slide.made-by
  antialiasedFonts()
  background siteDocsBackgroundColor
  color siteDocsColor
  padding-top 0 !important

  .label
    font-size .9em
    font-weight 100
    text-transform uppercase
    letter-spacing .1em
    text-indent @letter-spacing
    margin-bottom 1em
    opacity .5

  .logo-link
    display block
    width 9em
    height 4em
    color siteDocsLinkColor

    > svg
      height 100%
      width 100%

      path
        fill currentColor

button[data-run]
  playSVG = SVG.play

  align-items center
  color #171717
  display flex
  flex 0 0 auto
  font-weight 500
  margin 0
  padding .3em .75em .3em 1.85em
  background brandYellow
  background-image url(playSVG)
  background-repeat no-repeat
  background-position .7em center
  background-size .8em .8em

  &:hover
    background-color lighten(brandYellow, 7%)

  &:hover:active, &.active
    background-color darken(brandYellow, 8%)
    box-shadow none

.code-example
  antialiasedFonts()
  background darkGray
  flex-flow row wrap
  width 100%
  position relative
  margin-bottom 2.5em
  margin-top 1em

  *:not(.code-example) + &
    margin-top 2em

  button[data-run]
    margin-top -1em

  @media embedBoxDesktopMinWidthQuery
    button[data-run]:first-child
      margin-right .125em
      margin-left .75em
      border-top-right-radius 0
      border-bottom-right-radius 0

      + button[data-run]
        border-top-left-radius 0
        border-bottom-left-radius 0

  @media embedBoxMobileMaxWidthQuery
    button[data-run="inline"]
      display none

    button[data-run="modal"]
      margin-left .75em

  pre
    display block
    color siteDocsColor
    flex 1 0 auto
    line-height 1.4
    margin 0
    overflow-x auto
    padding 1.5em
    -webkit-overflow-scrolling touch
    white-space pre
    width 100%
    word-wrap normal

    > code
      display inline-block
      padding-right 1.5em

    &::-webkit-scrollbar
      background transparent
      border 0
      height 5px
      width 5px

    &::-webkit-scrollbar-thumb
      background rgba(#fff, .1)
      transition background .35s ease

    &::-webkit-scrollbar-thumb:hover
      background rgba(#fff, .2)

    &::-webkit-scrollbar-thumb:active
      background siteDocsLinkColor

    > code
      font-size .9em
      padding 0
      white-space inherit
