.screenshot
  if this.location === "head"
    //- Django is the closest highlighting to Shopify's Liquid templates.
    :marked
      ```django
      <!doctype html>
      <html>
        <head>
          <!-- Basic page needs ===== -->
          <meta charset="utf-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
          {{EMBED_CODE_SLOT}}
        </head>

        <body id="{{page_title | handle}}">
          {% include 'header-bar' %}
        </body>
      </html>
      ```
  else
    :marked
      ```django
      <!doctype html>
      <html>
        <head>
          <!-- Basic page needs ===== -->
          <meta charset="utf-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        </head>

        <body id="{{page_title | handle}}">
          {{EMBED_CODE_SLOT}}

          {% include 'header-bar' %}
        </body>
      </html>
      ```
