ol.steps
  li
    h2 Open the Weebly Editor.

    p Visit <a target="_blank" href="https://www.weebly.com/home/">Weebly Home</a> and choose <strong>Edit Site</strong>.

    p If you cannot find that, try navigating directly to the <a target="_blank" href="https://www.weebly.com/editor/main.php">Weebly Editor</a>.

  li
    h2 From the Weebly Editor, navigate to <strong>Settings <span class="with-more-icon-after"></span> SEO</strong>.

    p
      | In the bar at the top of the page, choose <strong>Settings</strong>.
      | From the gray navigation menu on the left, choose <strong>SEO</strong>.

  li
    h2
      span Copy the code below and paste it into your site’s <strong>#{this.location === "head" ? "Header" : "Footer"} Code</strong>

    .copy-container
      button.primary.run(type="button" data-ref="copyButtons[]") Copy
      div.copyable(contenteditable)= this.copyText

    figure
      if this.location === "head"
        img(src=require("./paste-embed-code-header.png"))
      else
        img(src=require("./paste-embed-code-footer.png"))

      svg(annotation-arrow viewBox="0 0 83 114" version="1.1" style="top: 44.1%; left: 39.2%; width: 15.8%")
        path(d="M39.3 5.4L0.9 0C0.3-0.1-0.1 0.3 0 0.9L9.1 37.8C9.2 38.4 9.7 38.5 10.1 38.1 10.1 38.1 18 29.8 19.8 27.9 19.9 27.7 20.1 27.4 20.5 27.4 20.9 27.3 21.3 27.4 21.4 27.5 68.7 64.9 76 103.8 77.1 109.6 78.2 115.4 84 114.4 82.9 108.6 81.8 102.8 75.7 53.3 30 17.7 29.9 17.6 29.6 17.4 29.6 17.1 29.6 16.9 29.9 16.6 30 16.5L39.6 6.4C40.1 5.9 39.9 5.5 39.3 5.4Z")

  li
    h2 Click <strong>Save</strong>

    p You’re done!
