include ../../components/base-screenshot/mixin-annotation-arrow.pug

ol.steps
  li
    h2 Open the Weebly Editor.

    p Visit <a target="_blank" href="https://www.weebly.com/home/">Weebly Home</a> and choose <strong>Edit Site</strong>.

    p If you cannot find that, try navigating directly to the <a target="_blank" href="https://www.weebly.com/editor/main.php">Weebly Editor</a>.

  li
    h2 From the Weebly Editor, navigate to <strong>Settings <span class="with-more-icon-after"></span> SEO</strong>.

    p
      | In the bar at the top of the page, choose <strong>Settings</strong>.
      | From the gray navigation menu on the left, choose <strong>SEO</strong>.

  li
    h2
      span Copy the code below and paste it into your site’s <strong>#{this.location === "head" ? "Header" : "Footer"} Code</strong>

    .copy-container
      button.primary.run(type="button" data-ref="copyButtons[]") Copy
      div.copyable(contenteditable)= this.copyText

    figure
      if this.location === "head"
        img(src=require("./paste-embed-code-header.png"))
      else
        img(src=require("./paste-embed-code-footer.png"))

      +annotation-arrow('nw')(style="top: 44.1%; left: 39.2%; width: 15.8%")

  li
    h2 Click <strong>Save</strong>

    p You’re done!
