// TODO Remove me
html, body, main
  width 100%
  height 100%
  overflow hidden
  padding 0
  margin 0

[data-eager-universal-embed]
  display none
  width 100%
  height 100%

[data-eager-universal-embed="visible"]
  display block
