[data-embed-box]
  bottom 0 !important
  display none !important
  height 100vh !important
  left 0 !important
  position fixed !important
  right 0 !important
  top 0 !important
  width 100vw !important
  z-index 10000 !important

[data-embed-box="visible"]
  display block !important
