@import "./styl/media-query-variables"

.embed-box
  display block

  &[data-mode="inline"]
    width 100%
    height 576px
    min-height 320px
    max-height 100vh

  &[data-mode="modal"]
    position fixed !important
    z-index 100000 !important
    top 0 !important
    right 0 !important
    bottom 0 !important
    left 0 !important
    height 100% !important
    width 100% !important
    max-height 100vh !important
    max-width 100vw !important
    transition opacity .1s linear !important
    opacity 0

    @media mobileMaxWidthQuery
      position absolute !important

body[data-embed-box-scroll-state="locked"]
  overflow hidden !important

@media mobileMaxWidthQuery
  body, html
    &[data-embed-box-scroll-state="locked"]
      position fixed !important
      overflow hidden !important
      top 0 !important
      right 0 !important
      bottom 0 !important
      left 0 !important

.embed-box-download-iframe
  position fixed
  z-index -99999
  visibility hidden
  width 1px
  height 1px

[data-embed-box-scroll-state]
  height 100%
