@import "shared"
@import "styl/colors"

html, body
  overflow hidden

html
  background transparent

main
  height 100%
  overflow hidden

body
  background lightGray
  cursor default
  user-select none

  &[data-mode="modal"]
    background lightGrayRGBA
