doctype html
html.no-js(lang="en")
  head
    title EmbedBox - Eager
    script(src="//use.typekit.net/xsm8rqv.js")
    script.
      try{Typekit.load();}catch(e){};
      document.documentElement.classList.remove("no-js");

    link(rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon")

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

  body
    main(data-column)
      .slide.padded.hero
        .content(data-column)
          h1.logo-text EmbedBox
          p An open-source UI which makes it easy for your users to install your embed code.

        .figure.frame-container
          iframe#automated-frame(allowTransparency frameBorder="0" seamless)

      .slide.padded.features
        ul.features-list
          li.roomy-feature
            .content
              h3 Clean customizable UI
              p
                | EmbedBox tries to remain as neutral as possible, allowing it to blend into any existin site by just picking a few colors.
                | Need full CSS control? No problem, just include a stylesheet when instantiating.

            .image
              img(src="https://eager.io/images/home/feature-webhooks.png" style="width: 440px")

          li.roomy-feature
            .content
              h3 Built-in documentation.
              p EmbedBox includes installation instructions for every major CMS platform.
            .image
              img(src="https://eager.io/images/home/feature-webhooks.png" style="width: 440px")

          li.roomy-feature
            .content
              h3 Got plugins?
              p EmbedBox painlessly showcases your existing CMS plugins, all inside an interface which ie easy to integrate into your site.
            .image
              img(src="https://eager.io/images/home/feature-webhooks.png" style="width: 440px")

          li.roomy-feature
            .content
              h3 Built-in documentation.
              p EmbedBox includes installation instructions for every major CMS platform.
            .image
              img(src="https://eager.io/images/home/feature-webhooks.png" style="width: 440px")

          li.roomy-feature
            .content
              h3 Built-in documentation.
              p EmbedBox includes installation instructions for every major CMS platform.
            .image
              img(src="https://eager.io/images/home/feature-webhooks.png" style="width: 440px")

          li.roomy-feature
            .content
              h3 Built-in documentation.
              p EmbedBox includes installation instructions for every major CMS platform.
            .image
              img(src="https://eager.io/images/home/feature-webhooks.png" style="width: 440px")

      .slide.padded.docs.full.install
        :marked
          # Docs

          ## How to use

          First download the <a href="#">latest release</a>, then add this to your page.

        .code-example
          != require("./examples/install.md")

        .code-example.has-run-button
          button.run Run
          != require("./examples/basic.md")

        :marked
          ## Customization

          ### Themes

        .code-example.has-run-button
          button.run Run
          != require("./examples/custom-theme.md")

        :marked
          If the `theme` configuration option is too coarse, the modal stylesheet can be altered or replaced.

        .code-example
          != require("./examples/custom-modal-stylesheet.md")

        :marked
          ### Content slots

          Content be inserted before and after the page instructions.

        .code-example.has-run-button
          button.run Run
          != require("./examples/content-slots.md")

        :marked
          ### Custom pages

          If the content slots are too coarse, custom pages can be created with the custom build.

        .code-example
          != require("./examples/custom-install.md")

        .code-example.has-run-button
          button.run Run
          != require("./examples/custom-page.md")

        :marked
          ## Contributing

          Please do, we would love for this to become a project of the community.
          Feel free to open an issue, submit a PR or contribute to the wiki.

        .figure.embedbox-figure.floating-figure.frame-container
          iframe#example-frame(allowTransparency frameBorder="0" seamless)

      .slide.made-by
        .label Made by

        a.logo-link.without-underline(href="https://eager.io")
          != require("./components/icons/eager-logo.svg")

    noscript.no-js-info
      h1 EmbedBox
      p This website requires JavaScript to retrieve content.
      p
        a(href="http://enable-javascript.com", target="_blank")
          | How to enable JavaScript.
