<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <title><%- htmlWebpackPlugin.options.meta.title %></title>

    <script src="//use.typekit.net/xsm8rqv.js"></script>
    <script>
      try{Typekit.load();}catch(e){};

      document.documentElement.classList.remove("no-js");
    </script>

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <meta charset="utf-8">
    <meta name="viewport", content="width=device-width, initial-scale=1, user-scalable=no">
  </head>

  <body spellcheck>
    <main></main>

    <noscript class="no-js-info">
      <h1><%- htmlWebpackPlugin.options.meta.title %></h1>
      <p>This website requires JavaScript to retrieve content.</p>

      <p>
        <a href="http://enable-javascript.com" target="_blank">
          How to enable JavaScript.
        </a>
      </p>
    </noscript>
  </body>
</html>
