@import nib

@import "styl/reset"
@import "styl/box-sizing-border-box-all"
@import "styl/body-typography"
@import "styl/buttons"
@import "styl/modal"
@import "styl/more-links-and-buttons"
@import "styl/plugin-choice"

@import "styl/media-query-variables"
@import "styl/colors"

html, body, main
  width 100%
  height 100%
  overflow hidden

html
  background transparent

body
  background rgba(#000, .4)
  margin 0
  user-select none

// TODO
.modal-footer
  text-align right

div, section
  display flex

[data-column]
  flex-flow column nowrap

[data-selectable], [contenteditable]
  cursor text
  user-select text
