doctype html
html.no-js(lang="en")
  head
    title Eager Universal Embed
    script(src="//use.typekit.net/xsm8rqv.js")
    script.
      try{Typekit.load();}catch(e){};
      document.documentElement.classList.remove("no-js");

    link(rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon")

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

  body
    noscript.no-js-info
      h1 Eager Universal Embed
      p This website requires JavaScript to retrieve content.
      p
        a(href="http://enable-javascript.com", target="_blank")
          | How to enable JavaScript.
