@import nib

@import "styl/reset"
@import "styl/box-sizing-border-box-all"
@import "styl/body-typography"
@import "styl/buttons"
@import "styl/more-links-and-buttons"
@import "styl/media-query-variables"
@import "styl/colors"

html, body
  width 100%
  height 100%

body
  margin 0

div, footer, header, main, section
  // TODO: IE9 polyfill with https://github.com/7rulnik/postcss-flexibility
  display flex

[data-column]
  flex-flow column nowrap

[data-action]
  cursor pointer

[data-visibility="hidden"]
  visibility hidden

[data-selectable], [contenteditable]
  cursor text
  user-select text
