@import "styl/reset"
@import "styl/box-sizing-border-box-all"
@import "styl/body-typography"
@import "styl/buttons"
@import "styl/more-links-and-buttons"
@import "styl/media-query-variables"
@import "styl/colors"
@import "styl/loading-dots"

html, body
  height 100%

body
  margin 0

div, footer, header, main, section
  display flex

[data-column]
  flex-flow column nowrap

[data-action]
  cursor pointer

[data-action], [tabindex]
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

[data-selectable], [contenteditable]
  cursor text
  user-select text
