@import "~highlight.js/styles/github.css"
@import "shared"

.thing
  align-items center
  justify-content center
  height 100vh
  position relative

  &.hero
    color white
    background-image linear-gradient(to bottom, rgb(94, 58, 152) 0%, rgb(75, 18, 72) 100%)
    font-size 4em
    font-weight bold

.github-star
  left 0
  margin 0.35em
  position absolute
  top 0

.code-example
  background-color gray
  padding 1.3em
  position relative

  button.run
    background-color pink
    color white
    font-variant small-caps
    margin 0
    padding 0.3em 1em
    position absolute
    right 0
    top 0
