@import "~highlight.js/styles/github.css"
@import "shared"

landingDeepBlue = rgb(13, 0, 33)
landingBlue = rgb(43, 0, 107)
landingPurple = rgb(156, 62, 163)

body
  user-select initial

.slide
  align-items center
  justify-content center
  min-height 100vh
  padding 2em 0
  position relative

  &.hero
    background-image linear-gradient(to top, landingDeepBlue 0%, landingBlue 40%, landingPurple 100%)
    color white
    font-size 2rem
    z-index -1

    p
      color saturate(lighten(landingPurple, 40%), 75%)

    .logo-text
      font-size 4.5rem
      font-weight bold

  &.pitch
    background-image linear-gradient(landingDeepBlue, lighten(landingDeepBlue, 5%))
    color white

  svg.stars
    bottom 0
    left 0
    position absolute
    right 0
    top 0
    opacity 0
    pointer-events none
    transition opacity 300ms ease
    z-index -1

    &[data-rendered]
      opacity .6

    .star
      transition opacity 500ms linear

.github-star
  left 0
  margin 0.35em
  position absolute
  top 0

.code-example
  background-color gray
  max-width 100%
  padding 1.3em
  position relative
  width 500px

  &.has-run-button
    padding-top 1.3em + 3em

  pre
    margin 0
    width 100%

  & + .code-example
    margin-top 1em

  button.run
    background-color rgba(#000, .3)
    color white
    margin 0
    padding .3em 1em
    position absolute
    left 1.3em
    top 1.3em
