body
  height 200px
  width 740px
  background #f2f2f2
  color #3e3e3e
  font-family "Gotham SSm A", "Gotham SSm B", "Gotham SSm", "Proxima Nova", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  padding 30px
  overflow hidden

.screenshot

  h1
    margin 0
    font-weight 500

  p
    color #797979

  pre
    border-left .6em #ddd solid
