@import "~styl/colors"

[data-component$="-page"]
  overflow scroll

.instructions.markdown
  cursor auto
  display block
  padding 3em 2em 3em 4em
  user-select text

  figure > img
    max-width 100%

  h1
    font-size 1.25em
    font-weight 300
    margin-top 2em
    margin-bottom 2em
    text-align center
    padding-right 2em

  h2
    font-size 1em
    font-weight 500
    margin-top 3em

    .step-number
      display inline-block
      width 2em
      height 2em
      margin-right 1em
      margin-left -3em
      line-height 2em
      text-align center
      vertical-align baseline
      border-radius 999em

      &:not(.accent-background-color)
        background lightGrayRGBA

      &.accent-background-color
        color #fff

  p
    color subtleText

  > *:first-child
    margin-top 0

  > *:last-child
    margin-bottom 0
