.screenshot
  h2 Extend

  .modal(data-flow="column")
    .nav
      .item
        a(href="#-") Home
      .item
        a(href="#-") Administration

    .instructions(data-flow="column")
      p Download additional <a href="#-">contributed modules</a> to extend Drupal's functionality.
      p
        | Regularly review and install <a href="#-">available updates</a> to maintain a secure and current site.
        | Always run the <a href="#-">update script</a> each time a module is updated.

      p
        button.install.with-plus-icon Install new module

      .modules(data-flow="column")
        header
          a(href="#-") Core

        table
          thead
            th
            th Name
            th Description
          tbody
            tr
              td.enable-toggle
                div.relative-arrow(data-arrow="right")
                  input(type="checkbox" checked)
              td!= config.name
              td

    footer(data-arrow="right")
      button.focal-point Save configuration

