@import "~styl/colors"

[data-component="containers/site-type-search"]
  .header
    width 100%

    .search
      border none
      flex 1 0 auto

      &:focus
        outline none

  .types .type
    align-items center
    box-shadow inset 0 -1px gray
    padding 1em

    .inline-svg
      width 2em
