@import "~styl/colors"

searchInputPlaceholder()
  color rgba(#000, .3)
  font-family inherit
  font-size 1em

[data-component="target-search"]
  .header
    align-items center
    box-shadow 0 1px lightLineGrayRGBA
    flex 0 0 auto
    width 100%
    z-index 2 // Fix box-shadow translucent stacking artifacts

    .icon
      stroke subtleTextRGBA
      width 1em
      margin-left 1.5em

    .search
      background transparent
      border none
      flex 1 0 auto
      padding 1.5em

      &::-webkit-input-placeholder
        searchInputPlaceholder()

      &:-moz-placeholder
        searchInputPlaceholder()

      &::-moz-placeholder
        searchInputPlaceholder()

      &:-ms-input-placeholder
        searchInputPlaceholder()

      &:focus
        outline none

  .entries
    // Fixes Firefox scroll issues. flex-grow will consume the remaining space.
    height 0
    flex 1 1 auto
    overflow auto
    overflow-scrolling touch
    z-index 1 // Fixes box-shadow translucent stacking artifacts

    .entry
      position relative
      cursor pointer
      align-items center
      flex 0 0 auto
      padding 1em
      overflow ellipsis
      border 1px solid lightestLineGrayRGBA
      border-left 0
      border-right 0

      &[data-visible-order="-1"]
        display none

      &[data-visible-order="0"]
        border-top-color transparent

      &:last-child
        border-bottom-color transparent

      &:not(:last-child)
        margin-bottom -1px

      &:not([data-selected])
        z-index 1
        background transparent
        color inherit

        &:hover
          background lightGrayRGBA

      &:focus
        outline none
        background lightGrayRGBA

      &[data-selected]
        border-color transparent

        &, &:hover
          z-index 2
          color #fff
          box-shadow none !important

      .icon
        fill currentColor
        height 2em
        margin-right 1em
        width 2em
