@import "~styl/colors"
@import "~styl/media-query-variables"

[data-component="target-search"]

  .header
    align-items center
    background-color lightGrayRGBA
    box-shadow 0 1px lightLineGrayRGBA
    flex 0 0 auto
    padding 1em
    width 100%
    z-index 2 // Fix box-shadow translucent stacking artifacts

    label
      color darken(gray, 45%)
      margin-bottom .5em

    .input-wrapper
      position relative
      width 100%

    .search
      background #fff
      border 0
      width 100%
      border-radius 5em
      padding .5em 1em .5em 3em

      &::placeholder
        color rgba(#000, .3)
        font-family inherit
        font-size 1em

      &:focus
        outline none

    .icon
      position absolute
      pointer-events none
      height 1em
      width 1em
      left 1em
      top 0
      bottom 0
      margin-top auto
      margin-bottom auto
      stroke subtleTextRGBA
      opacity .85

  .entries
    // Fixes Firefox scroll issues. flex-grow will consume the remaining space.
    height 0
    flex 1 1 auto
    overflow auto
    -webkit-overflow-scrolling touch
    z-index 1 // Fixes box-shadow translucent stacking artifacts

    @media mobileMaxWidthQuery
      // Spacer for Safari's UI controls
      &::after
        content ""
        display block
        flex 0 0 auto
        height iphoneUICompensation

    .entry
      position relative
      cursor pointer
      align-items center
      flex 0 0 auto
      padding 1em
      overflow ellipsis
      border 1px solid lightestLineGrayRGBA
      border-left 0
      border-right 0

      &[data-visible-order="-1"]
        display none

      &[data-visible-order="0"]
        border-top-color transparent

      &:last-child
        border-bottom-color transparent

      &:not(:last-child)
        margin-bottom -1px

      &:not([data-selected])
        z-index 1
        background transparent
        color inherit

        &:hover
          background lightGrayRGBA

      &:focus
        outline none
        background lightGrayRGBA

      .primary
        flex 1 1 auto
        align-items center
        position relative

        &::after
          pointer-events none
          position absolute
          right .75em
          opacity 0

      @media (min-width 400px)
        &:hover .primary::after
          content attr(data-click-hint-short)
          opacity .5

        &[data-selected]:not(:hover) .primary::after
          content attr(data-submit-hint-short)
          opacity .5

      @media (min-width 460px)
        &:hover .primary::after
          content attr(data-click-hint)

        &[data-selected]:not(:hover) .primary::after
          content attr(data-submit-hint)

      .icon.logo
        fill currentColor
        height 2em
        margin-right 1em
        width 2em

      .icon.next
        flex 0 0 auto
        height 1em
        opacity 0
        stroke currentColor
        width 1em
        margin-right .25em

      &:hover, &:focus

        .icon.next
          opacity .6

      &[data-selected], &:active

        &, &:hover

          .icon.next
            opacity 1

      path.is-light-source-facing
        opacity .75

      path.is-not-light-source-facing
        opacity 1

      &[data-selected], &:active
        border-color transparent

        &, &:hover
          z-index 2
          color #fff
          box-shadow none !important

          path.is-light-source-facing
            opacity 1

          path.is-not-light-source-facing
            opacity .5
