section(data-column data-component="wordpress-page").markdown.instructions
  h1 Installing #{store.appName} onto a WordPress site
  h2
    span.step-number.accent-background-color 1
    span
      a.more(target="_blank" href="//packager.eager.io/wordpress/v2.0.2/plugin.zip?siteId=#{store.siteId}")
        | Download the WordPress plugin

  p After downloading, don’t unzip the file.

  h2
    span.step-number.accent-background-color 2
    span Upload the plugin to your WordPress Admin site

  figure
    img(src=require("./upload-plugin.png"))

  p In your WordPress Admin, navigate to: <strong>Plugins &gt; Add New &gt; Upload Plugin</strong>.

  p Click “Choose File” and select the file you just downloaded.</p>

  h2
    span.step-number.accent-background-color 3
    span Activate the plugin and view your site

  figure
    img(src=require("./activate-plugin.png"))

  p Click “Activate Plugin”.

  p After it activates you’ll see a welcome message letting you know the installation was successful!
