.screenshot
  if this.location === "head"
    :marked
      ```html
      <!DOCTYPE html>
      <html>
        <head>
          <meta charset="utf-8" />
          <title>Your website</title>
          {{EMBED_CODE_SLOT}}
        </head>

        <body>
        </body>
      </html>
      ```
  else
    :marked
      ```html
      <!DOCTYPE html>
      <html>
        <head>
          <meta charset="utf-8" />
          <title>Your website</title>
        </head>

        <body>
          {{EMBED_CODE_SLOT}}
        </body>
      </html>
      ```
