.screenshot
  h2 Modules

  .modal(data-column)
    .nav
      .item
        a(href="#-") Home
      .item
        a(href="#-") Administration

    .instructions(data-column)
      p(data-arrow="right")
        a.install.focal-point(href="#-") Install new module

      .modules(data-column)
        header Core

        table
          thead
            th Enabled
            th Name
            th Version
            th Description
            th Operations
          tbody
