.screenshot
  .menu
    .item Dashboard
    .item Content
    .item Structure
    .item Appearance
    .item People
    .item.selected.focal-point.relative-arrow(data-arrow="left") Modules
    .item Configuration

  .menu.sub
    .item Add content
    .item Find content

  .modules-list(data-flow="column")
    .title User Interface
    table.entries
      thead
        th ENABLED
        th NAME
        th DESCRIPTION
      tbody
        tr
          td
            div.relative-arrow(data-arrow="right")
              input(type="checkbox" checked)
          td!= config.name
          td

  footer(data-arrow="right")
    button.focal-point Save configuration
