header.target-title(data-column)
  .icon!= icon

  h1!= this.title

  if this.versions.length > 0
    .versions
      .label Instructions for #{this.label} version

      select(data-ref="versionSelector")
