div.instructions-title
  h1 Installing #{config.name} onto a #{this.label} site.

  .versions
    span Instructions for #{this.label} version
    select
      option 2.0
      option 3.0
      option 3.3
