header.target-title(data-flow="column")
  .icon!= this.icon

  h1!= this.title

  if this.versionIDs.length > 1
    .versions
      .label!= this.instructionsLabel

      select(data-ref="versionSelector")
        each versionID in this.versionIDs
          option(selected=(versionID === this.versionID))= versionID
