@import "~styl/colors"

figure
  margin 2em 0
  position relative

  img, &[data-component="screenshot"]
    display block
    max-width 100%

  &[data-component="screenshot"]
    position relative
    height 0
    padding-top 0
    padding-right 0
    // padding-bottom set by JS
    padding-left 0
    width 100%
    overflow hidden

    iframe
      position absolute
      top 0
      left 0
      border 0
      transform-origin 0 0
      opacity 0

    &[data-render-state="scaled"] iframe
      opacity 1

  &::after
    content ""
    display block
    position absolute
    cursor default
    border 1px solid rgba(#000, .2)
    z-index 1
    border-left 0
    border-right 0
    top 0
    right 0
    bottom 0
    left 0

  [annotation-arrow]
    position absolute

    > div
      position absolute
      top 0
      left 0
      height 0
      width 100%

    svg
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      fill attentionYellow

    &[data-svg-view-box="0 0 83 114"] > div
      padding-bottom 137.35%

    &[data-svg-view-box="0 0 127 73"] > div
      padding-bottom 57.48%
