@import "~styl/colors"
@import "~styl/fonts"
@import "~styl/sizes"
@import "~styl/media-query-variables"

@keyframes copied
  0%, 100%
    opacity 0

  50%
    opacity 1
    transform translate3d(0, -1.8em, 0)

  100%
    transform translate3d(0, -1.8em, 0)

[data-component$="-target"]
  flex 1 1 auto
  overflow auto
  -webkit-overflow-scrolling touch

  [data-content-slot]
    background lightGrayRGBA
    display block
    margin 1em
    padding 1em
    text-align center

  .copy-container
    background lightGrayRGBA
    margin 2rem 0
    max-width 100vw
    position relative

    button.run
      position absolute
      padding .4em 1.125em
      margin 0
      height 2.3em
      top -1.1em
      left 50%
      transform translateX(-50%)

      > svg
        fill currentColor
        display inline-block
        vertical-align middle
        float left
        height 80%
        margin-right .5em

      &::after
        content "Copied"
        color #000
        display inline-block
        left 0
        right 0
        margin auto
        opacity 0
        position absolute
        pointer-events none

      &[data-status="copied"]::after
        animation copied 400ms ease
        animation-fill-mode forwards
        opacity 1

    > .copyable
      display block
      font-size .8em
      font-family monospaceFonts
      margin 0
      padding 1.3em
      padding-top 2.8em
      white-space pre-wrap
      width 100%
      word-wrap break-word

      &:focus
        outline none

.target-instructions
  @import "./screenshot"

  cursor auto
  display block
  flex 1 1 auto
  // Fixes Firefox scroll issues. flex-grow will consume the remaining space.
  height 0
  padding-bottom 1em
  user-select text

  &, *:focus
    outline none

  .target-title
    align-items center
    background lightGrayRGBA
    border-bottom 1px solid lightGrayRGBA
    padding 2em 4em 1.6em
    text-align center

    @media iPhoneMaxWidthQuery
      padding-left 2em
      padding-right 2em

    @media (max-width 22.5em)
      padding-left 1.5em
      padding-right 1.5em

    .icon
      height 3em
      width 3em
      margin-bottom 1em

      > svg
        display block
        width 100%
        fill currentColor

      path.is-light-source-facing
        opacity .75

      path.is-not-light-source-facing
        opacity 1

    h1
      font-size 1.25em
      font-weight 300
      margin 0 0 .5em
      text-align center

      &:last-child
        margin-bottom 0

    .versions
      align-items center
      font-size .9em

      .label
        margin-right .5em
        opacity .5

      select
        display inline-block
        border 1px solid lightLineGrayRGBA
        background transparent
        cursor pointer
        font-family inherit
        font-size inherit
        color inherit

        &:not(:hover)
          opacity .5

        &:focus
          outline none
          border 1px dashed currentColor

  ol.steps
    width targetInstructionsMaxWidth
    max-width 100%
    margin 0 auto
    counter-reset item 0
    list-style none
    padding 2em 0 0

    // Spacer for Safari's UI controls
    [data-component="application"][is-iphone="true"] &
      @media mobileMaxWidthQuery
        &::after
          content ""
          display block
          flex 0 0 auto
          height iPhoneUICompensation

    div, footer, header, section
      display block

    li
      counter-increment item
      margin 1em 0
      padding 0
      position relative

      &:first-child
        margin-top 0

      + li
        margin-top 3.5em

      &:first-child > *:first-child
        margin-top 0

      &:last-child > *:last-child
        margin-bottom 0

      &::before
        background lightGrayRGBA
        border-radius 50%
        color #fff
        content counter(item)
        display inline-block
        left 0
        line-height 2em
        margin-left 1em
        position absolute
        text-align center
        top -0.2em
        width 2em

      & > p, & > h1, & > h2
        margin 1em 2em 1em 4em

        @media iPhoneMaxWidthQuery
          margin-right 1em

  h2
    font-size 1em
    font-weight 400
    margin-top 3em

  > *:first-child
    margin-top 0

  > *:last-child
    margin-bottom 0
