section(data-column data-component="target-wrapper")
  .target-mount(data-ref="targetMount" tabindex="3")

  footer.modal-footer
    button.primary.slim(data-action="close" data-ref="doneButton" tabindex="5")
      = label("done")

