@import "~styl/colors"
@import "~styl/fonts"

@keyframes copied
  0%, 100%
    opacity 0

  50%
    opacity 1
    transform translate3d(0, -1.8em, 0)

  100%
    transform translate3d(0, -1.8em, 0)

[data-component="application"][data-mode="inline"] [data-component="target-wrapper"] .modal-footer
  display none

[data-component$="-target"]
  roundedChildRadius = 3px

  flex 1 1 auto
  overflow auto
  -webkit-overflow-scrolling touch

  [data-content-slot]
    background lightGrayRGBA
    border-radius roundedChildRadius
    display block
    margin 1em
    padding 1em
    text-align center

  .copy-container
    background lightGrayRGBA
    border-radius roundedChildRadius
    font-size .8em
    margin-bottom 1em
    position relative

    button.run
      margin 0
      padding .3em 1em
      position absolute
      left 1.5em
      top 1.5em

      &:after
        color black
        content "Copied"
        display inline-block
        left 100%
        margin-left 0.5em
        opacity 0
        position absolute

      &[data-status="copied"]::after
        animation copied 400ms linear
        animation-fill-mode forwards
        opacity 1

    > .copyable
      display block
      font-family monospaceFonts
      margin 0
      padding 1.3em
      padding-top 4.3em
      white-space pre-wrap
      width 100%
      word-wrap break-word

      &:focus
        outline none

.instructions.markdown
  cursor auto
  display block
  flex 1 1 auto
  // Fixes Firefox scroll issues. flex-grow will consume the remaining space.
  height 0
  padding-bottom 1em
  user-select text

  &, *:focus
    outline none

  .target-title
    align-items center
    background lightGrayRGBA
    border-bottom 1px solid lightGrayRGBA
    padding 2em 4em 1.6em
    text-align center

    .icon
      height 3em
      width 3em
      margin-bottom 1em

      > svg
        display block
        width 100%

      path.is-light-source-facing
        opacity .75

      path.is-not-light-source-facing
        opacity 1

    h1
      font-size 1.25em
      font-weight 300
      margin 0 0 .5em
      text-align center

      &:last-child
        margin-bottom 0

    .versions
      align-items center
      color subtleTextRGBA
      font-size .9em

      .label
        margin-right .5em

      select
        display inline-block
        border 1px solid lightLineGrayRGBA
        background transparent
        cursor pointer
        font-family inherit
        font-size inherit

        &:focus
          outline none
          border 1px dashed lightLineGrayRGBA

        &:hover
          background #fff

  ol.steps
    counter-reset item 0
    list-style none
    margin 0
    padding 2em 0 0

    div, footer, header, section
      display block

    li
      counter-increment item
      margin 1em 0
      padding 0
      position relative

      + li
        margin-top 3.5em

      &:first-child > *:first-child
        margin-top 0

      &:last-child > *:last-child
        margin-bottom 0

      &:before
        background lightGrayRGBA
        border-radius 50%
        color #fff
        content counter(item)
        display inline-block
        left 0
        line-height 2em
        margin-left 1em
        position absolute
        text-align center
        top -0.2em
        width 2em

      & > p, & > h1, & > h2, .copy-container
        margin 1em 2em 1em 4em

  figure
    margin 2em 0
    position relative

    img, [data-component="screenshot"]
      display block
      max-width 100%

    [data-component="screenshot"]
      width 100%

    &:after
      content ""
      display block
      position absolute
      pointer-events none
      border 1px solid rgba(#000, .2)
      border-left 0
      border-right 0
      top 0
      right 0
      bottom 0
      left 0

    [annotation-arrow]
      position absolute
      top 0
      left 0
      max-width 100%
      max-height 100%
      fill attentionYellow

  h2
    font-size 1em
    font-weight 500
    margin-top 3em

  > *:first-child
    margin-top 0

  > *:last-child
    margin-bottom 0
