@import "~styl/colors"
@import "~styl/sizes"
@import "~styl/media-query-variables"

[data-component="application"]
  align-items center
  justify-content center
  max-height 100%
  min-height 100%

  @media (max-height 24em)
    justify-content flex-start

  .surface, .branding
    width targetInstructionsMaxWidth
    max-width 100vw

  .surface
    background #fff
    min-height 18em
    max-width 100vw
    flex 1 1 auto
    overflow hidden
    position relative
    z-index 1 // Fix border radius overflow issues.

  .branding
    display none
    font-size .8em
    justify-content flex-end
    line-height 3
    margin-bottom 1em

    a
      color #fff
      -webkit-font-smoothing antialiased
      text-decoration none
      text-shadow 0 1px 2px rgba(#000, .7)
      padding 0 .5em

      &:after
        font-size 1.4em

  .header
    align-items center
    box-shadow 0 1px lightLineGrayRGBA
    flex 0 0 auto
    justify-content space-between
    width 100%
    max-width 100vw
    z-index 1

    > *
      display flex
      align-items center

    .title
      text-align center
      line-height 1.4
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      max-width 100%
      display inline-block

      @media (max-width 500px)
        &[data-title-char-length="long"]
          font-size .8em

        &[data-title-char-length="medium"]
          font-size .9em

      @media (max-width 400px)
        &[data-title-char-length="medium"]
          font-size .8em

        &[data-title-char-length="short"]
          font-size .9em

      @media (max-width 360px)
        &[data-title-char-length="short"]
          font-size .8em

        &[data-title-char-length="puny"]
          font-size .9em

      @media (max-width 340px)
        &[data-title-char-length="puny"]
          font-size .8em

    .button[data-action]
      appearance none
      background inherit
      border-radius 0
      color inherit
      flex 0 0 auto
      display flex
      height 4em
      justify-content center
      padding 0
      margin 0
      width 4em
      transition opacity .15s ease

      &:focus:before
        display none

      &:hover, &:focus
        background lightGrayRGBA
        box-shadow none

      > .icon
        flex 1 0 auto
        width 1em
        height 1em
        stroke currentColor

      &:not(:hover) .icon
        stroke-opacity .5

  .content
    transform translate3d(0, 0, 0)
    transition transform .2s ease
    flex 1 1 auto // Fill center unused space.

    > *
      margin 0
      flex 1 0 auto
      max-width 100vw
      width 100%

  &[data-route="home"], &[data-target-count="1"]

    .header [data-action="previous"]
      opacity 0
      pointer-events none

  &[data-route]:not([data-route="home"]) .content
    transform translate3d(-100%, 0, 0)

  &[data-transition-state="transitioned"] [inert] > *
    display none

  &[data-mode="modal"]
    background rgba(#000, .7)

    @media desktopMinWidthQuery
      padding 1.5em 0

    .surface
      max-height 38em
      border-radius .3125em

      @media desktopMinWidthQuery
        box-shadow 0 2px 8px rgba(#000, .4)

      @media mobileMaxWidthQuery
        max-height 100vh
        width 100%
        border-radius 0

    &[data-branding="visible"]
      padding-bottom 0

      @media desktopMinWidthQuery
        .branding
          display flex

  &[data-mode="inline"]
    background lightGray
    height 100vh
    min-height 20em

    .surface
      height 100vh
      max-height 100vh

    .header [data-action="close"]
      opacity 0
      pointer-events none
