main(data-column data-component="application" role="main")
  .modal(data-column)
    header.modal-header(role="menubar")
      button(role="menuitem" data-action="previous" data-ref="previousPageButton")

      span.title #{config.labels.title(config.appName)}

      button(role="menuitem" data-action="close" data-ref="closeModalButton")

    .content(data-ref="content")

    footer.modal-footer
      button.primary.slim.more(data-action="next" data-ref="nextPageButton")
        | #{config.labels.next}

      button.primary.slim(data-action="close" data-ref="doneButton")
        | #{config.labels.done}
