@import "~styl/colors"
@import "~styl/media-query-variables"

[data-component="application"]
  align-items center
  justify-content center
  max-height 100%
  min-height 100%

  &[data-page="home"]
    .modal-header [data-action="previous"]
      visibility hidden

  &:not([data-page="home"])
    .modal-footer [data-action="next"]
      display none

  @media (max-height 24em)
    justify-content flex-start

  .modal
    position relative
    z-index 1 // Fix border radius overflow issues.
    flex 1 1 auto
    min-height 18em
    max-height 38em
    overflow hidden
    width 35em
    max-width 100%
    background #fff
    border-radius .3125em

    .content
      flex 1 1 auto // Fill center unused space.

      > *
        margin 0
        flex 1 0 auto
        transition margin .2s ease-in-out
        width 100%

      [data-component="site-type-search"][data-transition="hidden-left"]
        margin-left -100%

  .modal-header
    align-items center
    box-shadow 0 1px lightLineGrayRGBA
    flex 0 0 auto
    justify-content space-between
    width 100%
    z-index 1

    .title
      text-align center
      line-height 1.4
      padding 0.8em 0

    button[data-action]
      appearance none
      background inherit
      border-radius 0
      color inherit
      flex 0 0 auto
      display flex
      height 4em
      justify-content center
      padding 0
      margin 0
      opacity .85
      width 4em

      &:hover
        background lightGrayRGBA
        box-shadow none
        opacity 1

      &:not(:hover)
        color subtleTextRGBA

      > .icon
        flex 1 0 auto
        width 1em
        height 1em
        stroke currentColor

  .modal-footer
    box-shadow 0 -1px lightLineGrayRGBA
    flex 0 0 auto
    justify-content flex-end
    padding 1.5em
    position relative
    z-index 1

    button[disabled], .button[disabled]
      background gray

@media desktopMinWidthQuery
  [data-component="application"] .modal
    box-shadow 0 2px 8px rgba(0,0,0,0.4)
    margin 1.5em 0

@media mobileMaxWidthQuery
  [data-component="application"] .modal
    border-radius 0
    max-height 100vh
    width 100%
