@import "~styl/colors"
@import "~styl/media-query-variables"

[data-component="application"]
  align-items center
  justify-content center
  max-height 100%
  min-height 100%

  @media (max-height 24em)
    justify-content flex-start

  &[data-route="home"], &[data-target-count="1"]
    .modal-header [data-action="previous"]
      visibility hidden

  &[data-mode="inline"] .modal-header [data-action="close"]
    visibility hidden
    pointer-events none

  .modal
    position relative
    z-index 1 // Fix border radius overflow issues.
    flex 1 1 auto
    min-height 18em
    max-height 38em
    overflow hidden
    width 35em
    max-width 100%
    background #fff
    border-radius .3125em

    .content
      flex 1 1 auto // Fill center unused space.
      transform translate3d(0, 0, 0) // Force GPU render.

      &[data-transition-state="transitioning"]
        pointer-events none
        transition transform .2s ease-in-out

      > *
        margin 0
        flex 1 0 auto
        width 100%

  .modal-header
    align-items center
    box-shadow 0 1px lightLineGrayRGBA
    flex 0 0 auto
    justify-content space-between
    width 100%
    z-index 1

    > *
      display flex
      align-items center

    .title
      text-align center
      line-height 1.4
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      max-width 100%
      display inline-block

      @media (max-width 500px)
        &[data-title-char-length="long"]
          font-size .8em

        &[data-title-char-length="medium"]
          font-size .9em

      @media (max-width 400px)
        &[data-title-char-length="medium"]
          font-size .8em

        &[data-title-char-length="short"]
          font-size .9em

      @media (max-width 360px)
        &[data-title-char-length="short"]
          font-size .8em

        &[data-title-char-length="puny"]
          font-size .9em

      @media (max-width 340px)
        &[data-title-char-length="puny"]
          font-size .8em

    .button[data-action]
      appearance none
      background inherit
      border-radius 0
      color inherit
      flex 0 0 auto
      display flex
      height 4em
      justify-content center
      padding 0
      margin 0
      opacity .85
      width 4em

      &:focus:before
        display none

      &:hover, &:focus
        background lightGrayRGBA
        box-shadow none
        opacity 1

      &:not(:hover)
        color subtleTextRGBA

      > .icon
        flex 1 0 auto
        width 1em
        height 1em
        stroke currentColor

@media desktopMinWidthQuery
  [data-component="application"] .modal
    box-shadow 0 2px 8px rgba(0,0,0,0.4)
    margin 1.5em 0

@media mobileMaxWidthQuery
  [data-component="application"] .modal
    border-radius 0
    max-height 100vh
    width 100%
