main
  section(data-column data-component="application")
    .modal(data-column)
      .modal-header(aria-role="menubar")
        button(aria-role="menuitem" data-action="previous" data-ref="headerButtons[]")

        span Add #{store.appName} to your site
        button(aria-role="menuitem" data-action="close" data-ref="headerButtons[]")

      .content(data-ref="content")

      .modal-footer
        button.primary.slim.more(data-action="next" data-ref="nextPageButton" style={"background-color": store.accent})
          | Next
