figure(data-component="screenshot" data-intrinsic="0.5")
  .intrinsic-spacer

  iframe(
    width="1000"
    frameBorder="0"
    srcdoc="<div style='display: none;'></div>"
    src="about:blank")

  .shield
