@import "~normalize.css/normalize.css"
@import "~styl/reset"
@import "~styl/box-sizing-border-box-all"
@import "~styl/colors"
@import "~highlight.js/styles/vs.css"

baseFontSize = 12px

html, body
  width 100%
  height 100%

body
  font-size baseFontSize
  margin 0
  overflow hidden

div, footer, header, main, section
  display flex

[data-column]
  flex-flow column nowrap

.screenshot
  flex-flow column
  position relative
  width 100%

  .focal-point
    box-shadow 0 0 4px 2px attentionYellow

  a.focal-point
    background-color attentionYellow

  .arrow-parent, .relative-arrow
    position relative
    z-index 10

  > pre
    background lightGrayRGBA
    margin 0
    padding 1em

    .focal-point
      color #000
      font-weight bold
      padding .3em

  [data-arrow]
    align-items center
    display inline-flex

    &::before, &::after
      color attentionYellow
      display inline-block
      font-family sans-serif
      font-weight normal
      font-size 4.4em
      line-height baseFontSize
      opacity .9
      text-shadow 0 1px 0 rgba(0,0,0,0.3)

  [data-arrow="left"]::before
    content "→"

  [data-arrow="right"]::after
    content "←"

  [data-arrow="above"]::before
    content "↓"
    right 0 !important
    top -0.6em

  .relative-arrow
    &::before, &::after
      position absolute

  .relative-arrow::before
    right 100%

  .relative-arrow::after
    left 100%

  // TODO: Consider removing SVG arrows as they align poorly across browsers.
  .arrow
    display inline-block
    height 10em
    opacity .8
    position absolute
    z-index 10

    .relative
      display block
      height 100%
      position relative

    svg
      display block
      height 100%

      .inner-stroke
        fill attentionYellow
