@import nib

@import sizes
@import colors
@import fonts

inputPlaceholder()
  color rgba(#000, .3)
  font-family sansSerifFonts
  font-size 1em

inputFocus()
  outline none
  border-color brandPink
  box-shadow 0 0 .0625em brandPink

inputBorder()
  border 1px solid lightLineGray
  border-radius standardInputRadius
  border-top-color darken(lightLineGray, 15%)

inputStandardCheckboxOrRadioStyles()
  background #fff
  font-size 1.125em
  appearance none
  -webkit-tap-highlight-color transparent
  cursor pointer
  display inline-block
  vertical-align middle
  width 1em
  height 1em
  border .0625em solid lightLineGray
  border-bottom-color darken(lightLineGray, 15%)
  background-repeat no-repeat
  background-position center center
  background-size .8em .8em
