@import sizes

desktopMinWidth = 769px
desktopMinWidthQuery = "(min-width: " + desktopMinWidth + ")"

largeDesktopWidth = 1400px
largeDesktopMinWidthQuery = "(min-width: " + largeDesktopWidth + ")"

mobileMaxWidth = 768px
mobileMaxWidthQuery = "(max-width: " + mobileMaxWidth + ")"

largerThanIphoneMinWidth = 569px
largerThanIphoneMinWidthQuery = "(min-width: " + largerThanIphoneMinWidth + ")"

iPhoneMaxWidth = 568px
iPhoneMaxWidthQuery = "(max-width: " + iPhoneMaxWidth + ")"

centeredPageMaxWidthQuery = "(max-width: " + centeredPageWidth + ")"

pageWithAppNavigationWidth = centeredPageWidth + appNavigationWidth + 4em
pageWithAppNavigationMinWidthQuery = "(min-width: " + pageWithAppNavigationWidth + ")"
pageWithoutAppNavigationMaxWidthQuery = "(max-width: " + (pageWithAppNavigationWidth - .0625em) + ")"

dialogMinWidthQuery = "(min-width: " + dialogWidth + ")"

firefoxOnWindowsQuery = "(-moz-os-version: windows-xp), (-moz-os-version: windows-vista), (-moz-os-version: windows-win7), (-moz-os-version: windows-win8)"
firefoxOnlyQuery = "screen and (min--moz-device-pixel-ratio: 0)"

chromeAndSafariOnlyQuery = "screen and (-webkit-min-device-pixel-ratio: 0)"

chromeOnlyQuery = "all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dppx)"

retinaQuery = "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)"

largeDesktopMinWidthAndRetinaQuery = retinaQuery + " and " + largeDesktopMinWidthQuery
desktopMinWidthAndRetinaQuery = retinaQuery + " and " + desktopMinWidthQuery
iphoneMaxWidthRetinaQuery = retinaQuery + " and " + iPhoneMaxWidthQuery

ie10And11Query = "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)"
