@import nib

@import "styl/media-query-variables"

.modal-scroller
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  overflow auto
  overflow-scrolling touch

.modal
  background #fff
  width 35em
  border-radius .3125em

  .modal-content-padded
    padding 1.5em

  .modal-header
    position relative
    z-index 10
    box-shadow 0 1px lightLineGrayRGBA

  .modal-top-stripe
    position relative
    height 4em
    line-height 1em
    padding 1.5em 5.5em

    .text
      line-height 1
      position relative
      top .125em
      font-weight 500
      color darkerGray
      overflow ellipsis
      text-align center
      letter-spacing .01em

    .back, .close
      top 0
      position absolute
      cursor pointer
      display block
      color inherit
      height 4em
      width 4em

      &:hover
        background lightGray

      &:not(:hover)
        opacity .5

      .icon
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        margin auto

    .back
      left 0
      border-radius .3125em 0 0 0

      .icon
        height 12px
        width 12px
        border-left 1px solid currentColor
        border-bottom 1px solid currentColor
        transform rotate(45deg)

    .close
      right 0
      border-radius 0 .3125em 0 0

      .icon
        height 21px
        width 21px
        transform rotate(45deg)

        &:before, &:after
          content ""
          display block
          position absolute
          height 100%
          width 100%

        &:before
          left 10px
          border-left 1px solid currentColor

        &:after
          top 10px
          border-top 1px solid currentColor

  .modal-footer
    position relative
    z-index 10
    box-shadow 0 -1px lightLineGrayRGBA

  .modal-body
    position relative
    z-index 5
    min-height 10em
    max-height calc(100vh - 14em)
    overflow scroll

  .modal-text-stripe
    position relative
    padding 1.5em

    .text
      line-height 1.3
      position relative
      top .125em
      font-weight 300
      color subtleText
      letter-spacing .01em

@media desktopMinWidthQuery
  .modal-scroller
    padding 1.5em 0

  .modal-vertical-align-outer
    display table
    margin 0 auto
    height 100%

  .modal-vertical-align-inner
    display table-cell
    vertical-align middle

@media mobileMaxWidthQuery
  .modal-scroller
    position static

  .modal
    width 100%
    border-radius 0
