ol.steps
  li
    h2 Login to the <a target="_blank" href="https://www.shopify.com/login">Shopify store editor</a>.

  li
    h2 Navigate to <strong>Online Store <span class="with-more-icon-after"></span> Themes <span class="with-more-icon-after"></span> Edit HTML/CSS</strong>.
    p
      | In the left pane, click <strong>Online Store</strong>.
      | Click the <strong><code>[...]</code></strong> button in the header.

    p Then click <strong>Edit HTML/CSS</strong> in the menu that appears.

    p
      | In the center column under <strong>Layout</strong>, Click <code>theme.liquid</code>.

  li
    h2 Copy the code to your site’s &lt;#{this.location}&gt; tag.

    .copy-container
      button.button.primary.run(data-ref="copyButtons[]") Copy
      div.copyable(contenteditable)= this.copyText

    figure(data-ref="screenshotMounts[]" data-screenshot="installScript")

  li
    h2 Visit your site.

    p After saving the changes you made, visit your site in the browser.
    p You’re done!
