section(data-column data-component="embed-page").markdown.instructions
  h1 Installing #{store.appName} on a CMS
  h2
    span.step-number 1
    span
      | Copy our embed code into the <head> of your page.

  figure
    img(src=require("./installing-eager.gif"))

  h2
    span.step-number 2
    span Visit your site

  p After saving the changes you made, visit your site in the browser.
  p You should see a welcome message letting you know the installation worked.
