body
  width 470px
  height 300px
  font-family sans-serif
  padding 0 2em

header
  background-color #e0e0d8
  padding .3em .8em

a
  text-decoration none

p
  margin .5em 0

h2
  font-weight normal
  margin .4em 0

h3
  margin 1em 0 0 0

.alert
  background-color #f8fef0
  border 1px solid #d2e0b6
  margin-top 1em
  padding .3em .8em

ul
  margin 0
  padding 0 1em
